.project {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 5rem;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.project_title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.project_desc-container {
  position: relative;
  left: 2.5rem;
  background-color: #c4c4c4;
  padding: 2.5em;
}

.project_desc {
  font-size: 1.7rem;
  color: #212327;
  max-width: 550px;
  line-height: 1.6;
}

.techstack,
.project_links {
  display: flex;
  align-items: center;
}

.techstack {
  margin: 2rem 0;
}

.techstack_img,
.techstack_tech {
  margin-right: 1rem;
}

.techstack_img {
  width: 3rem;
}

.techstack_tech {
  font-size: 1.2rem;
}

.techstack_tech:last-child {
  margin-right: 0;
}

.project-preview-link {
  margin-left: 2rem;
}

i {
  transform: scale(2);
  color: #212327;
}

.project_link_img {
  width: 3rem;
}

.project_img {
  width: 100%;
}

@media (max-width: 900px) {
  .project {
    flex-direction: column;
  }

  .left {
    width: auto;
  }

  .right {
    width: auto;
  }

  .project_desc-container {
    position: static;
    left: 0;
  }

  .techstack_img,
  .techstack_tech {
    margin-right: 3rem;
  }

  .techstack_img {
    width: 4rem;
  }

  .techstack_tech {
    font-size: 2rem;
  }

  i {
    transform: scale(3);
    color: #212327;
  }

  .project_link_img {
    width: 3rem;
  }
}

@media (max-width: 750px) {
  .techstack {
    display: none;
  }

  .project_links {
    margin-top: 4rem;
  }

  .project-preview-link {
    margin-left: 6rem;
  }

  i {
    transform: scale(4);
  }

  .project_link_img {
    width: 4rem;
  }
}
