.navbar {
  padding: 0.9375em 0;
  background: #212327;
  margin-bottom: 3.75rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-container {
  width: 80%;
  max-width: 81.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: normal;
  font-size: 1.6875rem;
}

.navbar-nav {
  display: flex;
}

.navbar-item {
  margin-right: 1.875em;
}

.navbar-link {
  font-size: 1rem;
  color: #ffffff;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #8f9093;
}

.navbar-item:last-of-type {
  margin-right: 0;
}
