.navbar {
  padding: 1.5em 0;
  background: #212327;
}

.navbar-container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: normal;
  font-size: 2.7rem;
}

.navbar-nav {
  display: flex;
}

.navbar-item {
  margin-right: 3em;
}

.navbar-link {
  font-size: 1.6rem;
  color: #ffffff;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #8f9093;
}

.navbar-item:last-of-type {
  margin-right: 0;
}
