.landing {
  font-family: 'Rubik', sans-serif;
  min-height: calc(100vh - 80px);
  color: #9c9da0;
  line-height: 0.9;
}

.landing-intro {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.25rem;
}

.landing-title-primary {
  color: #ffffff;
}

.landing-title {
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: normal;
}

.landing-desc {
  font-size: 1.25rem;
  margin-top: 1.875rem;
  line-height: 1.6;
  max-width: 1000px;
  color: #c4c4c4;
}

.landing-btn {
  display: inline-block;
  position: relative;
  top: 1.25rem;
  width: max-content;
  background: #ffffff;
  color: #272a2f;
  border: 0;
  font-size: 1rem;
  margin-top: 1.5625rem;
  padding: 1.06em 2.1em;
  letter-spacing: 1.1px;
  border-radius: 0.2rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.landing-btn::after,
.landing-btn::before {
  position: absolute;
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  transition: all 0.2s ease-out;
}

.landing-btn::after {
  right: -10px;
  top: -10px;
  border-bottom: none;
  border-left: none;
}

.landing-btn::before {
  left: -10px;
  bottom: -10px;
  border-top: none;
  border-right: none;
}

.landing-btn:hover::after,
.landing-btn:hover::before {
  width: 100%;
  height: 0;
}

.landing-btn:hover::after {
  right: 0;
}

.landing-btn:hover::before {
  left: 0;
}

.landing-btn:hover,
.landing-btn:focus {
  background: #212327;
  color: #ffffff;
}

.scroll-down {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);

  display: none;
}

.mouse {
  width: 1.875rem;
  height: 3.125rem;
  padding: 0 0.625em;
  border: 2px solid #ffffff;
  border-radius: 1.25rem;
  margin-bottom: 0.3125rem;
  display: flex;
}

.mouse span {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #ffffff;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 2s linear infinite;
}

@keyframes move-wheel {
  0% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

@media (min-width: 950px) {
  .scroll-down {
    display: block;
  }

  .landing {
    margin-top: 9.375rem;
  }
}

@media (max-width: 500px) {
  .landing {
    margin-top: 0;
    min-height: calc(70vh);
  }
}
